USE [master]
GO
/****** Object:  Database [InternetProgDb]    Script Date: 1/28/2026 2:06:39 PM ******/
CREATE DATABASE [InternetProgDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InternetProgDb.mdf', FILENAME = N'D:\IP_DODEV_24210201050revize\InternetProg\App_Data\InternetProgDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InternetProgDb_log.ldf', FILENAME = N'D:\IP_DODEV_24210201050revize\InternetProg\App_Data\InternetProgDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InternetProgDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InternetProgDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/28/2026 2:06:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 1/28/2026 2:06:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](max) NOT NULL,
	[Soyad] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Sifre] [nvarchar](max) NOT NULL,
	[Rol] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Kullanicilar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NufusBilgileri]    Script Date: 1/28/2026 2:06:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NufusBilgileri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Yil] [int] NOT NULL,
	[NufusSayisi] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.NufusBilgileri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sehirler]    Script Date: 1/28/2026 2:06:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sehirler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SehirAdi] [nvarchar](max) NOT NULL,
	[Nufus] [nvarchar](max) NULL,
	[OneCikan] [nvarchar](max) NULL,
	[ResimUrl] [nvarchar](max) NULL,
	[Bilgi] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Sehirler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SliderResimleri]    Script Date: 1/28/2026 2:06:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SliderResimleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResimUrl] [nvarchar](max) NOT NULL,
	[Sira] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SliderResimleri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuristikYerler]    Script Date: 1/28/2026 2:06:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuristikYerler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[YerAdi] [nvarchar](max) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[ResimUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TuristikYerler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([Id], [Ad], [Soyad], [Email], [Sifre], [Rol]) VALUES (1, N'Admin', N'a', N'admin@gmail.com', N'1234', N'Admin')
INSERT [dbo].[Kullanicilar] ([Id], [Ad], [Soyad], [Email], [Sifre], [Rol]) VALUES (2, N'uye1', N'1', N'uye1@gmail.com', N'1234', N'Uye')
INSERT [dbo].[Kullanicilar] ([Id], [Ad], [Soyad], [Email], [Sifre], [Rol]) VALUES (3, N'Yahya', N'Aynacı', N'aynaaciyahya1941@gmail.com', N'1234', N'Admin')
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[NufusBilgileri] ON 

INSERT [dbo].[NufusBilgileri] ([Id], [Yil], [NufusSayisi]) VALUES (1, 2023, N'122.1 Milyon')
INSERT [dbo].[NufusBilgileri] ([Id], [Yil], [NufusSayisi]) VALUES (2, 2024, N'125.4 Milyon')
INSERT [dbo].[NufusBilgileri] ([Id], [Yil], [NufusSayisi]) VALUES (3, 2025, N'135.5 Milyon')
SET IDENTITY_INSERT [dbo].[NufusBilgileri] OFF
GO
SET IDENTITY_INSERT [dbo].[Sehirler] ON 

INSERT [dbo].[Sehirler] ([Id], [SehirAdi], [Nufus], [OneCikan], [ResimUrl], [Bilgi]) VALUES (1, N'Addis Ababa', N'5.2 Milyon', N'Başkent ve Diplomatik Merkez', N'https://media.istockphoto.com/id/2164827013/tr/foto%C4%9Fraf/african-union-addis-ababa-ethiopia.jpg?s=612x612&w=0&k=20&c=H3sb-LAV4h4wIALhkltTqjHRdVgZCxEroc8E98Z-KB4=', N'Etiyopya''nın başkenti ve en büyük şehridir. Afrika Birliği''nin merkezine ev sahipliği yaptığı için "Afrika''nın Başkenti" olarak da anılır. Ulusal Müze''de ünlü fosil Lucy burada sergilenmektedir.')
INSERT [dbo].[Sehirler] ([Id], [SehirAdi], [Nufus], [OneCikan], [ResimUrl], [Bilgi]) VALUES (2, N'Gondar', N'487.000', N'Afrika''nın Camelot''u, Tarihi Kaleler', N'https://media.istockphoto.com/id/175264856/tr/foto%C4%9Fraf/imperial-palace-in-gondar.jpg?s=612x612&w=0&k=20&c=bbBFZ4WX93KiTSLJbdjXlhGV4frEuHpovq2uNlSi5Ms=', N'17. ve 18. yüzyıllarda Etiyopya İmparatorluğu''na başkentlik yapmıştır. UNESCO Dünya Mirası listesindeki Fasil Ghebbi kalesi ve çevresindeki tarihi yapılarla ünlüdür.')
INSERT [dbo].[Sehirler] ([Id], [SehirAdi], [Nufus], [OneCikan], [ResimUrl], [Bilgi]) VALUES (3, N'Lalibela', N'20.000', N'Kayalara Oyulmuş Kiliseler', N'https://media.istockphoto.com/id/157193189/tr/foto%C4%9Fraf/bet-giorgis-lalibela-ethiopia.jpg?s=612x612&w=0&k=20&c=Voh3J_2csl_vabs86ofwkfvGygFMfojjmJq5HyETtCA=', N'Hıristiyanlar için önemli bir hac merkezidir. Tek parça kayaların yukarıdan aşağıya doğru oyulmasıyla yapılan 11 adet monolitik kilisesi ile dünyaca meşhurdur. En bilineni Haç şeklindeki Aziz George Kilisesi''dir.')
SET IDENTITY_INSERT [dbo].[Sehirler] OFF
GO
SET IDENTITY_INSERT [dbo].[SliderResimleri] ON 

INSERT [dbo].[SliderResimleri] ([Id], [ResimUrl], [Sira]) VALUES (1, N'https://media.istockphoto.com/id/2164827814/tr/foto%C4%9Fraf/african-union-headquarters-addis-ababa-ethiopia.jpg?s=612x612&w=0&k=20&c=DyI5xkJ6ztzmiElYGk8hpz0celnbL93nofu6l_cX_ss=', 0)
INSERT [dbo].[SliderResimleri] ([Id], [ResimUrl], [Sira]) VALUES (2, N'https://media.istockphoto.com/id/2148245203/tr/foto%C4%9Fraf/african-women-plucking-tea-leaves-on-plantation-east-africa.jpg?s=612x612&w=0&k=20&c=9TvmKwI9cDfGESs56wbAIXw8vHWAJkLvc6-8lQfKCKA=', 0)
INSERT [dbo].[SliderResimleri] ([Id], [ResimUrl], [Sira]) VALUES (3, N'https://media.istockphoto.com/id/2160601825/tr/foto%C4%9Fraf/portrait-of-old-man-from-erbore-tribe-ethiopia-africa.jpg?s=612x612&w=0&k=20&c=pfEhA6ziCx24HY-M03TQurNaBNFx8Crgbg5azZfTDbg=', 0)
SET IDENTITY_INSERT [dbo].[SliderResimleri] OFF
GO
SET IDENTITY_INSERT [dbo].[TuristikYerler] ON 

INSERT [dbo].[TuristikYerler] ([Id], [YerAdi], [Aciklama], [ResimUrl]) VALUES (1, N'Simien Dağları Milli Parkı', N'"Afrika''nın Çatısı" olarak bilinen bu park, UNESCO Dünya Mirası listesindedir. Derin vadileri, sarp zirveleri (Ras Dashen) ve sadece buraya özgü Gelada babunları ile Walia dağ keçilerine ev sahipliği yapmasıyla ünlüdür.', N'https://media.istockphoto.com/id/454995489/tr/foto%C4%9Fraf/semien-mountains-ethiopia.jpg?s=612x612&w=0&k=20&c=3_9uJAFBDPPjT3gTCB7wGGfvjDVeh92ivwxSk_6VUSY=')
INSERT [dbo].[TuristikYerler] ([Id], [YerAdi], [Aciklama], [ResimUrl]) VALUES (2, N'Mavi Nil Şelalesi (Tis Abay)', N'Yerel dilde "Tüten Su" anlamına gelen Tis Abay, Mavi Nil nehri üzerindeki en görkemli şelaledir. Özellikle yağmur sezonunda 45 metre yükseklikten dökülen sular büyüleyici bir sis ve gökkuşağı oluşturur.', N'https://media.istockphoto.com/id/2224906246/tr/foto%C4%9Fraf/tis-abay-blue-nile-falls-ethiopia-africa.jpg?s=612x612&w=0&k=20&c=qj4D6pexQDZ9tchmKXGTpxnMf0njwlhijF5FWV1pb0c=')
INSERT [dbo].[TuristikYerler] ([Id], [YerAdi], [Aciklama], [ResimUrl]) VALUES (3, N'Danakil Çöküntüsü (Dallol)', N'"Cehennem Kapısı" olarak da bilinir. Yeryüzündeki en sıcak ve en yaşanmaz yerlerden biridir. Topraktan sızan zehirli klor ve kükürt gazları, neon sarısı ve yeşili renkteki asit havuzlarını oluşturur. Ayrıca bu bölgede bulunan Gaet''ale Gölü, yaydığı zehirli gazlarla üzerinden uçan kuşları bile öldürebilmektedir.', N'https://media.istockphoto.com/id/155284852/tr/foto%C4%9Fraf/vulcano-dallol-ethiopia.jpg?s=612x612&w=0&k=20&c=uG4WnTvW1ICGoNQyR-tdCli2VyPmb518Of_AZPNlfqI=')
SET IDENTITY_INSERT [dbo].[TuristikYerler] OFF
GO
USE [master]
GO
