
@model List<InternetProg.Models.SliderResim>
@{
    ViewBag.Title = "SliderListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Slider Resimleri</h3>
<hr />
<a href="/Manage/SliderEkle" class="btn btn-primary mb-3">Yeni Resim Ekle</a>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@item.ResimUrl" class="card-img-top" style="height: 200px; object-fit: cover;" alt="Slider">
                <div class="card-body text-center">
                    <a href="/Manage/SliderSil/@item.Id" class="btn btn-danger btn-sm" onclick="return confirm('Silmek istediğinize emin misiniz?')">Sil</a>
                </div>
            </div>
        </div>
    }
</div>
